
<footer >
  @ Designed by Emmanuel Kipkemboi

</footer> 

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
    crossorigin="anonymous"
  ></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>

</body>
</html>