<%- include('partials/header') %>
<%- include('partials/nav') %>
   
        <img src="/images/404.png" alt="" id="img-404" style="min-height: 100vh; margin-left:40vh ; margin-top: 4px;">
    </main>

