<%- include('partials/header') %>
    
    <main id="home">
        
        <%- include('partials/nav') %>
       
        <div id="home-text">
        
            <div class="gym-div">
                <h2>workout</h2>
                <img src="/images/gym.jpg" >
                <div class="txt">
                    <p>Piga Tizy using the best <br>workout videos </p>
                   <button id="submit"> <a href="/videos">Get Started</a>
                </div>
            </div>
            <div class="diet-div">
                <h2>Diet</h2>
                <img src="/images/food.jpg" alt="">
                <div class="txt">
                   <p> Kula fiti with help of a customised <br> macros calulator and diet plan </p>
                   <button id="submit"> <a href="/meal">Get Started</a>
                </div>
            </div>
            <div class="chat-div">
                <h2>Connect </h2>
                <img src="/images/connect.jpg" alt="">
                <div class="txt">
                  <p>kula Storo anonimously and uncensored <br> with fitness heads <br></p> 
                  <button id="submit"> <a href="/message">Get Started</a>
                     
                </div >
                
            </div>
        </div>
        
    </main>

<%- include('partials/footer') %>