
<%- include('partials/header') %>
<main class="shopp">
<%- include('partials/nav') %>



<section class="icons-container" >

    <div class="icons" >
        <img src="images/icon-1.png" alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all orders</span>
        </div>
    </div>

    

    <div class="icons" >
        <img src="images/icon-3.png" alt="">
        <div class="info">
            <h3>offer </h3>
            <span>on all orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="images/icon-4.png" alt="">
        <div class="info">
            <h3>secure paymens</h3>
            <span>protected by Mpesa</span>
        </div>
    </div>
   
</section>
<!-- <h1 style="text-align: center; margin: 50px;">Products </h1> -->



<main>
    <div class="shopping-cart">
    <div>
    

        <section class="products" id="products" style="padding:2rem 9%;" >

            <h1 class="heading" style="text-align: center; margin-bottom: 40px;"> GYM <span>GEAR</span> </h1>
        
            <div class="box-container">
        
                <div class="box" id="test-test">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <img src="images/weight1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Gym Plate</h3>
                        <div class="price"> 300ksh <span>500ksh</span> </div>
                    </div>
                </div>

                <script>
                    console.log(document.querySelector('#test-test').innerHTML)
                </script>
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/weigh4.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                           
                        </div>
                    </div>
                    <div class="content">
                        <h3>Kettle Bell</h3>
                        <div class="price"> 4,000ksh <span>6,000ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <img src="images/weight3.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Squats Rack</h3>
                        <div class="price"> 20,000ksh <span>30,000ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-20%</span>
                    <div class="image">
                        <img src="images/weight2.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>home collection</h3>
                        <div class="price"> 7,000ksh <span>9,000ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-17%</span>
                    <div class="image">
                        <img src="images/weight7.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>0-10kg dumbells</h3>
                        <div class="price"> 250ksh/kg <span>300ksh/kg</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-3%</span>
                    <div class="image">
                        <img src="images/weight8.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Rowing Machine</h3>
                        <div class="price"> 70,000ksh <span>90,000ksh   </span> </div>
                    </div>
                </div>
        
                
        
                
        
               
        
            </div>
        
        </section>

</div>
<div>
   
        <section class="products" id="products" style="  padding:2rem 9%;" >

            <h1 class="heading" style="text-align: center; margin-bottom: 40px;"> GYM <span>WEAR</span> </h1>
    
        
            <div class="box-container">
        
                <div class="box">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <img src="images/wear1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Gym shoes</h3>
                        <div class="price"> 3000ksh <span>5000ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/wear2.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Gym bag</h3>
                        <div class="price"> 1299ksh <span>1599ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <img src="images/wear3.jpg" alt="" style="height: 40vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Boxing gloves</h3>
                        <div class="price"> 5999ksh <span>6999ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-20%</span>
                    <div class="image">
                        <img src="images/wear4.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Workout bra</h3>
                        <div class="price"> 299ksh <span>599ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-17%</span>
                    <div class="image">
                        <img src="images/wear5.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>sweat shirt</h3>
                        <div class="price"> 99ksh <span>399ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-3%</span>
                    <div class="image">
                        <img src="images/wear6.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>towel</h3>
                        <div class="price"> 99ksh <span>199ksh</span> </div>
                    </div>
                </div>
        
                
        
                
        
               
        
            </div>
        
        </section>
          
      

</div>

    
    
        <section class="products" id="products" style="  padding:2rem 9%;" >

            <h1 class="heading" style="text-align: center; margin-bottom: 40px;"> FITNESS <span>ROUTINE</span> </h1>
    
        
            <div class="box-container">
        
                <div class="box">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <img src="images/work1.jpg" alt="" style="height: 40vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Weight loss plan</h3>
                        <div class="price"> 1299ksh <span>1599ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/work2.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Diet plans</h3>
                        <div class="price"> 1499ksh <span>1899ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <img src="images/lift.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>build muscle</h3>
                        <div class="price"> 3000ksh <span>5000ksh</span> </div>
                    </div>
                </div>
        
                
                <div class="box">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <img src="images/work1.jpg" alt="" style="height: 40vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Burn fat</h3>
                        <div class="price"> 1,299ksh <span>1,599ksh</span> </div>
                    </div>
                </div>
        

            </div>
        
        </section>


<div>
    

        <section class="products" id="products" style="  padding:2rem 9%;" >

            <h1 class="heading" style="text-align: center; margin-bottom: 40px;"> WORKOUT <span>SUPPLIMENT</span> </h1>
    
        
            <div class="box-container">
        
                <div class="box">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <img src="images/sup1.jpg" alt="" style="height: 40vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Creatine</h3>
                        <div class="price"> 1,599ksh <span>1899ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/sup2.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Whey protein</h3>
                        <div class="price"> 3,000ksh <span>5,000ksh</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <img src="images/sup3.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Monohydrate</h3>
                        <div class="price"> 5000ksh <span>9000ksh</span> </div>
                    </div>
                </div>
        
                
              
        
                <!-- <div class="box">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <img src="images/sup3.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>Gym Plate</h3>
                        <div class="price"> 300ksh <span>500ksh</span> </div>
                    </div>
                </div> -->
        
                <!-- <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/sup2.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>flower pot</h3>
                        <div class="price"> $12.99 <span>$15.99</span> </div>
                    </div>
                </div>
         -->
                
        
                
        
               
        
            </div>
        
        </section>

</div>
<div>
    
    <!-- <section class="answer">
        <section class="products" id="products" style="  padding:2rem 9%;" >

            <h1 class="heading"> ebooks <span> & Hardcover</span> </h1>
        
            <div class="box-container">
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/book1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>flower pot</h3>
                        <div class="price"> $12.99 <span>$15.99</span> </div>
                    </div>
                </div>
        
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/book1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>flower pot</h3>
                        <div class="price"> $12.99 <span>$15.99</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/book1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>flower pot</h3>
                        <div class="price"> $12.99 <span>$15.99</span> </div>
                    </div>
                </div>
        
        
                
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/book1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>flower pot</h3>
                        <div class="price"> $12.99 <span>$15.99</span> </div>
                    </div>
                </div>
        
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/book1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>flower pot</h3>
                        <div class="price"> $12.99 <span>$15.99</span> </div>
                    </div>
                </div>
        
                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <img src="images/book1.jpg" alt="" style="height: 35vh;">
                        <div class="icons">
                          
                            <a href="#" class="cart-btn">add to cart</a>
                          
                        </div>
                    </div>
                    <div class="content">
                        <h3>flower pot</h3>
                        <div class="price"> $12.99 <span>$15.99</span> </div>
                    </div>
                </div>
        
                
        
                
        
               
        
            </div>
        
        </section>
    </section> -->
</div>

</div>

</main>


<!-- icons section ends -->

<!-- prodcuts section starts  -->

<!-- <section class="products" id="products" style="  padding:2rem 9%;" >

    <h1 class="heading"> latest <span>products</span> </h1>

    <div class="box-container">

        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="images/book1.jpg" alt="" style="height: 35vh;">
                <div class="icons">
                  
                    <a href="#" class="cart-btn">add to cart</a>
                  
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>


        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="images/book1.jpg" alt="" style="height: 35vh;">
                <div class="icons">
                  
                    <a href="#" class="cart-btn">add to cart</a>
                  
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="images/book1.jpg" alt="" style="height: 35vh;">
                <div class="icons">
                  
                    <a href="#" class="cart-btn">add to cart</a>
                  
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>


        
        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="images/book1.jpg" alt="" style="height: 35vh;">
                <div class="icons">
                  
                    <a href="#" class="cart-btn">add to cart</a>
                  
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>


        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="images/book1.jpg" alt="" style="height: 35vh;">
                <div class="icons">
                  
                    <a href="#" class="cart-btn">add to cart</a>
                  
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-15%</span>
            <div class="image">
                <img src="images/book1.jpg" alt="" style="height: 35vh;">
                <div class="icons">
                  
                    <a href="#" class="cart-btn">add to cart</a>
                  
                </div>
            </div>
            <div class="content">
                <h3>flower pot</h3>
                <div class="price"> $12.99 <span>$15.99</span> </div>
            </div>
        </div>

        

        

       

    </div>

</section> -->

<!-- prodcuts section ends -->

<!-- review section starts  -->

<!-- <section class="review" id="review" style="  padding:2rem 9%;">

<h1 class="heading"> customer's <span>review</span> </h1>

<div class="box-container">

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
        <div class="user">
            <img src="images/gym.jpg" alt="">
            <div class="user-info">
                <h3>john deo</h3>
                <span>happy customer</span>
            </div>
        </div>
        
    </div>

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
        <div class="user">
            <img src="images/pic-2.png" alt="">
            <div class="user-info">
                <h3>john deo</h3>
                <span>happy customer</span>
            </div>
        </div>
        
    </div>

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
        <div class="user">
            <img src="images/pic-3.png" alt="">
            <div class="user-info">
                <h3>john deo</h3>
                <span>happy customer</span>
            </div>
        </div>
        
    </div>

</div>
    
</section> -->

<!-- review section ends -->

<!-- contact section starts  -->

<!-- <section class="contact" id="contact">

    <h1 class="heading"> <span> contact </span> us </h1>

    <div class="row">

        <form action="">
            <input type="text" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
            <input type="number" placeholder="number" class="box">
            <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

        <div class="image">
            <img src="images/contact-img.svg" alt="">
        </div>

    </div>

</section> -->

<!-- contact section ends -->

<!-- footer section starts  -->



<!-- footer section ends -->



</main>








<script>
    let questions = document.querySelectorAll('.question');
let answers = document.querySelectorAll('.answer');


questions.forEach(question => {
    question.addEventListener('click', function(e){
        let answer = e.target.nextElementSibling;
        let span = e.target.children[0];
        if(answer.style.display === 'block') {
            answer.style.display = 'none';
            span.textContent = '+';
        } else {
            answers.forEach(answer => answer.style.display = 'none');
            questions.forEach(question => question.children[0].textContent = '+');
            answer.style.display = 'block';
            span.textContent = 'x';
            
        }
    
    })
})
</script>

<script>
    let navbar = document.querySelector('.navbar')

document.querySelector('#menu-bar').onclick = () =>{
    navbar.classList.toggle('active');
}

document.querySelector('#close').onclick = () =>{
    navbar.classList.remove('active');
}

window.onscroll = () =>{

    navbar.classList.remove('active');

    if(window.scrollY > 100){
        document.querySelector('header').classList.add('active');
    }else{
        document.querySelector('header').classList.remove('active');
    }

}

let themeToggler = document.querySelector('#theme-toggler');

themeToggler.onclick = () =>{
    themeToggler.classList.toggle('fa-sun');
    if(themeToggler.classList.contains('fa-sun')){
        document.querySelector('body').classList.add('active');
    }else{
        document.querySelector('body').classList.remove('active');
    }
}

document.querySelectorAll('.small-image-1').forEach(images =>{
    images.onclick = () =>{
        document.querySelector('.big-image-1').src = images.getAttribute('src');
    }
});

document.querySelectorAll('.small-image-2').forEach(images =>{
    images.onclick = () =>{
        document.querySelector('.big-image-2').src = images.getAttribute('src');
    }
});

document.querySelectorAll('.small-image-3').forEach(images =>{
    images.onclick = () =>{
        document.querySelector('.big-image-3').src = images.getAttribute('src');
    }
});

let countDate = new Date('aug 1, 2021 00:00:00').getTime();

function countDown(){

    let now = new Date().getTime();
	gap = countDate - now;

    let seconds = 1000;
    let minutes = seconds * 60;
    let hours = minutes * 60;
    let days = hours * 24;

    let d = Math.floor(gap / (days));
	let h = Math.floor((gap % (days)) / (hours));
	let m = Math.floor((gap % (hours)) / (minutes));
	let s = Math.floor((gap % (minutes)) / (seconds));

    document.getElementById('days').innerText = d;
    document.getElementById('hours').innerText = h;
    document.getElementById('minutes').innerText = m;
    document.getElementById('seconds').innerText = s;

}

setInterval(function(){
    countDown()
},1000);

var swiper = new Swiper(".product-slider", {
    slidesPerView: 3,
    loop:true,
    spaceBetween: 10,
    autoplay: {
        delay: 4000,
        disableOnInteraction: false,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        550: {
          slidesPerView: 2,
        },
        800: {
          slidesPerView: 3,
        },
        1000: {
            slidesPerView: 3,
        },
    },
});

var swiper = new Swiper(".review-slider", {
    slidesPerView: 3,
    loop:true,
    spaceBetween: 10,
    autoplay: {
        delay: 4000,
        disableOnInteraction: false,
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        550: {
          slidesPerView: 2,
        },
        800: {
          slidesPerView: 3,
        },
        1000: {
            slidesPerView: 3,
        },
    },
});
</script>
<%- include('partials/footer') %>