<%- include('partials/header') %>
<main class="vid-background">

<%- include('partials/nav') %>

<div class="vidd-container">
    <h1 style="color: white;">Body Building</h1>
    <div class="vid-row">
        <div class="vid-col">
            <div class="feature-img">
                <img src="/images/lift.jpg" width="100%">
                <img src="/images/play.png" class="play-b" onclick="playVideo('/videos/press.mp4')">
            </div>
        </div>
        <div class="vid-col">
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                 
                </div>
                <p>Pullups: 10 reps with progressive <br> overload of 2.5kg. Reduce reps <br> by 2 in each set after loading</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                   
                </div>
                <p>Bench Press: Chest, triceps, and shoulders</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                    
                </div>
                <p>Squats: glutes,hamstrings & quads  </p>
            </div>
        </div>
    </div>
</div>
<div class="vid-player" id="video-play" >
    <video width="100%" controls autoplay id="myvid" >
        <source src="/videos/press.mp4" type="video/mp4">  
    </video>
    <img src="/images/remove.png" alt="" class="close-b" onclick="stopVideo()">
</div>
<div class="vidd-container">
    <h1>Workout videos</h1>
    <div class="vid-row">
        <div class="vid-col">
            <div class="feature-img">
                <img src="/images/lift.jpg" width="100%">
                <img src="/images/play.png" class="play-b" onclick="playVideo('/videos/press.mp4')">
            </div>
        </div>
        <div class="vid-col">
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                 
                </div>
                <p>How to Do it</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                   
                </div>
                <p>How to Do it</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                    
                </div>
                <p>How to Do it</p>
            </div>
        </div>
    </div>
</div>
<div class="vid-player" id="video-play" >
    <video width="100%" controls autoplay id="myvid" >
        <source src="/videos/press.mp4" type="video/mp4">  
    </video>
    <img src="/images/remove.png" alt="" class="close-b" onclick="stopVideo()">
</div>
<div class="vidd-container" >
    <h1>Workout videos</h1>
    <div class="vid-row">
        <div class="vid-col">
            <div class="feature-img">
                <img src="/images/lift.jpg" width="100%">
                <img src="/images/play.png" class="play-b" onclick="playVideo('/videos/press.mp4')">
            </div>
        </div>
        <div class="vid-col">
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                 
                </div>
                <p>How to Do it</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                   
                </div>
                <p>How to Do it</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                    
                </div>
                <p>How to Do it</p>
            </div>
        </div>
    </div>
</div>
<div class="vid-player" id="video-play" >
    <video width="100%" controls autoplay id="myvid" >
        <source src="/videos/press.mp4" type="video/mp4">  
    </video>
    <img src="/images/remove.png" alt="" class="close-b" onclick="stopVideo()">
</div>
<div class="vidd-container">
    <h1>Workout videos</h1>
    <div class="vid-row">
        <div class="vid-col">
            <div class="feature-img">
                <img src="/images/lift.jpg" width="100%">
                <img src="/images/play.png" class="play-b" onclick="playVideo('/videos/press.mp4')">
            </div>
        </div>
        <div class="vid-col">
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                 
                </div>
                <p>How to Do it</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                   
                </div>
                <p>How to Do it</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <img src="/images/lift.jpg" alt="" onclick="playVideo('/videos/press.mp4')">
                    
                </div>
                <p>How to Do it</p>
            </div>
        </div>
    </div>
</div>
<div class="vid-player" id="video-play" >
    <video width="100%" controls autoplay id="myvid" >
        <source src="/videos/press.mp4" type="video/mp4">  
    </video>
    <img src="/images/remove.png" alt="" class="close-b" onclick="stopVideo()">
</div>

<script>
let videoPlay = document.getElementById('video-play')
let myVideo= document.getElementById('myvid')
function stopVideo(){
    videoPlay.style.display = 'none';
}

function playVideo(file){
myVideo.src = file;
videoPlay.style.display = 'block'
}
</script>
</main>


<%- include('partials/footer') %>